<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<div class="container-fluid">
			<header data-th-replace="~{/layouts/header :: header}"></header>
			
			<div class="row">
				<div class="col col-sm-12 fondo-form p-5">
					<div class="row mb-5">
					
						<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
							<a class="btn btn-primary" data-th-href="@{/alumno/nuevo}" role="button">Nuevo Alumno</a>
						</div>
						
						<table class="table table-striped table-hover">
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Email</th>
								<th>Telefono</th>
								<th>Fecha de Nacimiento</th>
								<th>Domicilio</th>
								<th>L.U.</th>
								<th>Opciones</th>
							</tr>
							<tr data-th-each="alum: ${alumnos}">
								<td data-th-text="${alum.dni}"></td>
								<td data-th-text="${alum.nombre}"></td>
								<td data-th-text="${alum.apellido}"></td>
								<td data-th-text="${alum.email}"></td>
								<td data-th-text="${alum.telefono}"></td>
								<td data-th-text="${alum.fechaNacimiento}"></td>
								<td data-th-text="${alum.domicilio}"></td>
								<td data-th-text="${alum.lu}"></td>
								<td>
									<a class="btn btn-warning" data-th-href="@{/alumno/modificar/}+${alum.dni}" role="button">Editar</a>
									<a class="btn btn-danger" data-th-href="@{/alumno/eliminar/}+${alum.dni}" role="button">Eliminar</a>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
			</div>
			
			<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		</div>
		<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>