<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<title data-th-text="${titulo}"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" href="/css/estilos.css">
		<link th:rel="stylesheet" data-th-href="@{/css/estilos.css}">
	</head>
	<body>
		<header th:fragment="header">
			<div class="row">
					<div class="col-2 bg-light  text-center logo">
						<img alt="logo de la facultad" src="/img/fi-logo2.jpeg" class="img-fluid"><br>
						<p>Educación que mueve al mundo, ingenieros que lo diseñan.</p>
					</div>
				
					<div class="col-10 bg-secondary">
						<h1 class="container">Facultad de Ingenieria - Unju</h1>
						<nav class="navbar navbar-expand-lg bg-secondary ">
						  <div class="container-fluid">
						    <a class="navbar-brand" href="#">Inicio</a>
						    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						      <span class="navbar-toggler-icon"></span>
						    </button>
						    <div class="collapse navbar-collapse" id="navbarSupportedContent">
						      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
						        <li class="nav-item">
						          <a class="nav-link active" aria-current="page" href="#">Acerca de</a>
						        </li>
						        <li class="nav-item">
						          <a class="nav-link active" aria-current="page" href="#">Carreras</a>
						        </li>
						        <li class="nav-item">
						          <a class="nav-link active" aria-current="page" href="#">Noticias</a>
						        </li>
						        <li class="nav-item">
						          <a class="nav-link active" aria-current="page" href="#">Contacto</a>
						        </li>
						      </ul>
						      <form class="d-flex" role="search">
						        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="search">
						        <button class="btn btn-outline-success text-bg-dark" type="submit">Buscar</button>
						      </form>
						    </div>
						  </div>
						</nav>
					</div>
				</div>
		</header>
	</body>
</html>